<div>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title-notification" style="color: white; text-align: center;">{{data.title}}</h4>
  
  </div>
  <div class="modal-body"  *ngIf="!data.delete && !data.consult">
    <form >
      <div class="row" >
        <div class="col-md-6">
          <div class="form-group">
            <label for="module">Module</label>
            <input type="text" name='module' class="form-control"  placeholder="Module"  [(ngModel)]="data.module">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="vol_horaire">Volume horaire</label>
            <input type="number"  name="vol_horaire" placeholder="Volume horaire" class="form-control"  [(ngModel)]="data.vol_horaire">
          </div>  
        </div>
    
        <div class="col-md-6">
          <div class="form-group" >
            <label for="enseignant">enseignant</label>
            <mat-select [(ngModel)]="data.enseignant" name="enseignant" class="btn btn-white " [(value)]="selectedEnseignant.id" placeholder="{{selectedEnseignant.nom }} {{selectedEnseignant.prenom}}"  >
              <mat-option *ngFor="let enseignant of data.enseignants" [value]="enseignant.id" class="dropdown-item"  >
                {{enseignant.nom + ' ' + enseignant.prenom }} 
              </mat-option>
            </mat-select>
          </div>  
        </div>
        <div class="col-md-6">
          <div class="form-group" >
            <label for="groupe">Groupe</label>
            <mat-select [(ngModel)]="data.groupe" name="groupe" class="btn btn-white " [(value)]="selectedGroupe.id" placeholder="{{selectedGroupe.groupe}}">
              <mat-option *ngFor="let groupe of data.groupes" [value]="groupe.id" class="dropdown-item"  >
                {{groupe.groupe}}
              </mat-option>
            </mat-select>
          </div>  
        </div>
      </div>
      
    </form></div>

    <div class="modal-body" *ngIf="data.consult && !data.delete && !data.edit">
      
        <div *ngFor="let matiere of data.matieres"><h3 style="text-align: center; color: white;">{{ matiere }}</h3></div>
    
    </div>
  <div class="modal-footer">
    <input type="hidden" [(ngModel)]="data.id">
    <button *ngIf="data.delete && !data.consult" type="button" class="btn btn-white" (click)="delete(data.id,data.enseignantId)" cdkFocusInitial>Confirmer</button>
    <button *ngIf="!data.delete && !data.consult"type="button" class="btn btn-white" (click)="confirmer()" cdkFocusInitial>Confirmer</button>
    <button type="button" class="btn btn-link text-white ml-auto" (click)="onNoClick()">Fermer</button>
  </div>
