<div>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title-notification" style="color: white; text-align: center;">{{data.title}}</h4>
  
  </div>
  <div class="modal-body"  *ngIf="!data.delete ">
    <form >
      <div class="row" >
        <div class="col-md-6">
          <div class="form-group">
            <label for="cin">Cin</label>
            <input type="number" name='cin' class="form-control"  placeholder="Numéro carte d'identité"  [(ngModel)]="data.cin">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text"  name="nom" placeholder="Nom" class="form-control"  [(ngModel)]="data.nom">
          </div>  
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="prenom">Prenom</label>
            <input type="text" name="prenom" placeholder="Prenom" class="form-control"  [(ngModel)]="data.prenom">
          </div>  
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="age">Age</label>
            <input type="number"  [(ngModel)]="data.age" name="age" placeholder="Age" class="form-control" >
          </div>  
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="salaire">Salaire</label>
            <input type="number" name="salaire" placeholder="Salaire" class="form-control"  [(ngModel)]="data.salaire" >
          </div>  
        </div>
      
      <div class="col-md-6">
        <div class="form-group">
          <label for="jours_de_travail">Jours de travail</label>
          <input type="number" name='jours_de_travail' class="form-control"  placeholder="Jours de travail"  [(ngModel)]="data.jours_de_travail">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="absence">Absence</label>
          <input type="number" name='absence' class="form-control"  placeholder="Absence"  [(ngModel)]="data.nbr_absence">
        </div>
      </div>
    </div>
      
    </form></div>


  <div class="modal-footer">
    <input type="hidden" [(ngModel)]="data.id">
    <button *ngIf="data.delete"  type="button" class="btn btn-white" (click)="delete(data.id)" cdkFocusInitial>Confirmer</button>
    <button *ngIf="!data.delete  " type="button" class="btn btn-white" (click)="confirmer()" cdkFocusInitial>Confirmer</button>
    <button type="button" class="btn btn-link text-white ml-auto" (click)="onNoClick()">Fermer</button>
  </div>
